In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
df.describe()

            Height       Weight
count  8555.000000  8555.000000
mean     66.809925   165.632735
std       3.851454    32.043922
min      54.616858    65.780000
25%      63.957684   139.876803
50%      66.985923   168.521567
75%      69.604427   190.666305
max      80.450000   269.989698

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   object
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), object(1)
memory usage: 200.6+ KB

In [5]:
X = df.drop('Weight',axis=1)
y = df['Weight']

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   object
 1   Height  8555 non-null   float64
dtypes: float64(1), object(1)
memory usage: 133.8+ KB

In [7]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8555 entries, 0 to 8554
Series name: Weight
Non-Null Count  Dtype
--------------  -----
8555 non-null   float64
dtypes: float64(1)
memory usage: 67.0 KB

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
X_train

      Gender     Height
553     Male  67.594031
1397    Male  71.601697
7934  Female  62.625985
8367  Female  66.136131
3320    Male  71.843308
...      ...        ...
5734  Female  63.349988
5191  Female  58.861625
5390  Female  64.325406
860     Male  69.074492
7270  Female  67.588840

[5988 rows x 2 columns]

### x-train encode

In [11]:
X_train.value_counts()

Gender  Height
Female  54.616858    1
Male    68.484029    1
        68.491450    1
        68.491312    1
        68.491072    1
                    ..
Female  66.121203    1
        66.118944    1
        66.108960    1
        66.105502    1
Male    78.998742    1
Length: 5988, dtype: int64

In [12]:
X_train.replace({'Female':0, 'Male':1},inplace=True)

In [13]:
X_train

      Gender     Height
553        1  67.594031
1397       1  71.601697
7934       0  62.625985
8367       0  66.136131
3320       1  71.843308
...      ...        ...
5734       0  63.349988
5191       0  58.861625
5390       0  64.325406
860        1  69.074492
7270       0  67.588840

[5988 rows x 2 columns]

In [14]:
X_test.replace({'Female':0, 'Male':1},inplace=True)

In [15]:
X_test

      Gender     Height
6006       0  64.846644
1197       1  68.886367
2862       1  70.963369
6497       0  62.737189
2860       1  69.578030
...      ...        ...
184        1  71.935887
2988       1  67.616383
6048       0  58.213614
420        1  69.689795
5669       0  64.997610

[2567 rows x 2 columns]

### x-train transform

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
scal = StandardScaler()

In [18]:
X_train = scal.fit_transform(X_train)
X_test = scal.transform(X_test)

In [19]:
X_train

array([[ 0.84341336,  0.20805032],
       [ 0.84341336,  1.24737259],
       [-1.18565824, -1.08033091],
       ...,
       [-1.18565824, -0.63961404],
       [ 0.84341336,  0.59198357],
       [-1.18565824,  0.20670404]])

In [20]:
X_test

array([[-1.18565824, -0.50443941],
       [ 0.84341336,  0.54319636],
       [ 0.84341336,  1.08183278],
       ...,
       [-1.18565824, -2.22460696],
       [ 0.84341336,  0.75155239],
       [-1.18565824, -0.46528896]])

### KNN

In [21]:
from sklearn.neighbors import KNeighborsRegressor

In [22]:
knn = KNeighborsRegressor()

In [23]:
knn.fit(X_train,y_train)

KNeighborsRegressor()

In [24]:
y_pred = knn.predict(X_test)

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mse1 = mean_squared_error(y_test,y_pred)

In [27]:
mse1

121.3252577191394

### Linear Regression

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(X_train, y_train)

LinearRegression()

In [31]:
y_pred = lr.predict(X_test)

In [32]:
mse2 = mean_squared_error(y_test,y_pred)

In [33]:
mse2

96.83734437830606