In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
X = df.drop('Gender', axis = 1)
y = df['Gender']

In [4]:
X.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [5]:
y.head()

0    Male
1    Male
2    Male
3    Male
4    Male
Name: Gender, dtype: object

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
X_train.head()

         Height      Weight
553   67.594031  186.751417
1397  71.601697  211.031652
7934  62.625985  143.768451
8367  66.136131  151.814648
3320  71.843308  196.505814

### Transform

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scal = StandardScaler()

In [11]:
X_train = scal.fit_transform(X_train)
X_test = scal.transform(X_test)

In [13]:
X_train

array([[ 0.20805032,  0.66508154],
       [ 1.24737259,  1.42328182],
       [-1.08033091, -0.67714999],
       ...,
       [-0.63961404, -0.27019733],
       [ 0.59198357,  0.43510675],
       [ 0.20670404, -0.4706721 ]])

In [14]:
X_test

array([[-0.50443941, -0.49291292],
       [ 0.54319636,  1.00517001],
       [ 1.08183278,  0.40901263],
       ...,
       [-2.22460696, -2.07921978],
       [ 0.75155239,  0.79567258],
       [-0.46528896, -1.29856909]])

### encode

In [15]:
y_train.head()

553       Male
1397      Male
7934    Female
8367    Female
3320      Male
Name: Gender, dtype: object

In [16]:
y_train.value_counts()

Male      3499
Female    2489
Name: Gender, dtype: int64

In [17]:
y_train.replace({'Male':1, 'Female':0}, inplace = True)

In [18]:
y_train.head()

553     1
1397    1
7934    0
8367    0
3320    1
Name: Gender, dtype: int64

In [19]:
y_test.head()

6006    Female
1197      Male
2862      Male
6497    Female
2860      Male
Name: Gender, dtype: object

In [20]:
y_test.value_counts()

Male      1501
Female    1066
Name: Gender, dtype: int64

In [21]:
y_test.replace({'Male':1, 'Female':0}, inplace = True)

In [22]:
y_test.head()

6006    0
1197    1
2862    1
6497    0
2860    1
Name: Gender, dtype: int64

### knn

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
knn = KNeighborsClassifier()

In [25]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [26]:
y_pred = knn.predict(X_test)

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
mse1 = mean_squared_error(y_test,y_pred)

In [29]:
mse1

0.08258667705492793

In [30]:
knn.score(X_test,y_test)

0.917413322945072